
<% # `list.html.erb` から呼び出される
   # @param entry  仕訳の1行
   # @param @year  表示している年
  %>

<div class="row" id="<%= dom_id entry %>">
  <div class="col-sm-1">
    <div class="row">
<% if head %>      
      <div class="col-12">
        <%= entry.date.year != @year ?
            "#{entry.date.year}/#{entry.date.mon}/#{entry.date.day}" :
            "#{entry.date.mon}/#{entry.date.day}" %>
      </div>
      <div class="col-12">
        <%= link_to(entry.entry_no,
                    {controller:'journals',action:'show',
                    id:entry.entry_no, date:entry.date}) %>
      </div>
<% else %>
      <div class="col-12">&nbsp;</div>
      <div class="col-12">&nbsp;</div>
<% end %>      
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-4"><%= entry.division.name %></div>
      <div class="col-8"><%= entry.comment %></div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="row">
      <div class="col-9">
        <%= entry.contra_ac ? entry.contra_ac.name : "諸口" %>
      </div>
      <div class="col-3"><%= entry.vat ? entry.vat.name  : "" %></div>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="row">
<% if entry.dr_or_cr >= 0 %>
      <div class="col-4 text-nowrap" style="text-align:right">
        <%= entry.amount %>
        <%= entry.vat_amt != 0 ? tag.br + "内 " + entry.vat_amt.to_s : "" %>
      </div>
      <div class="col-4"></div>
<% else %>
      <div class="col-4"> </div>
      <div class="col-4 text-nowrap " style="text-align:right">
        <%= -entry.amount %>
        <%= entry.vat_amt != 0 ? tag.br + "内 " + (-entry.vat_amt).to_s : "" %>
      </div>
<% end
   @balance_amt += entry.amount
   if @period.vat_exclusive == 1 && entry.date >= @period.registration_of_taxable
     @balance_amt -= entry.vat_amt
   end %>      
      <div class="col-4" style="text-align:right">
        <%= @account_title.sign >= 0 ? @balance_amt : -@balance_amt %>
      </div>
    </div>
  </div>

</div>
