
<% # @param @book
   # @param @term モデルデータ
  %>

<% ac_list = AccountTitle.grouped_items(@book)
   div_list = Division.active_items(@book, @term.from) %>

<%= form_with(model:@term, url: {action:'list'}, method:'GET') do |form| %>
  <%= error_messages_for 'term' %>

  <div class="row mb-3">
    <%= form.label :div_id, "会計部門:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :div_id,
                      options_from_collection_for_select(
                                div_list, :id, :name, form.object.div_id),
                      {include_blank:"(全体)"}, class: "form-select" %>
    </div>
  </div>
  
  <div class="row mb-3">
    <%= form.label :ac_id, "勘定科目:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
    ●● TODO: 範囲指定できるようにする.
      <%= form.select :ac_id,
                    option_groups_from_collection_for_select(
                                ac_list, :children, :name, :id, :name,
                                form.object.ac_id),
                    {}, class:"form-select" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :from, "自:", class:"col-sm-2 col-form-label text-end" %>
    <div class="col-sm-2"><%= form.date_field :from %></div>

    <%= form.label :to, "至:", class:"col-sm-2 col-form-label text-end" %>
    <div class="col-sm-2"><%= form.date_field :to %></div>
  </div>

  <%= form.submit "表示" %>
<% end %>
