

<% @crumbs = []
   @page_title = "総勘定元帳" %>

<%= render partial: 'select_term' %>

<div id="journals">
  <div class="row thead">
    <div class="col-sm-1">
      <div class="row">
        <div class="col-12">日付</div>
        <div class="col-12 text-nowrap">伝票番号</div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row">
        <div class="col-4">会計部門</div>
        <div class="col-8">摘要</div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="row">
        <div class="col-9">相手科目</div>
        <div class="col-3">消費税</div>
      </div>
    </div>
    
    <div class="col-sm-4">
      <div class="row">
        <div class="col-4">借方</div>
        <div class="col-4">貸方</div>
        <div class="col-4">残高</div>
      </div>
    </div>
  </div>
 
  <div class="row">
    <div class="col-8">繰越</div>
    
    <div class="col-sm-4">
      <div class="row">
        <div class="col-4"> </div>
        <div class="col-4"> </div>
        <div class="col-4 text-end">
          <%= @account_title.sign >= 0 ? @balance_amt : -@balance_amt  %>
        </div>
      </div>
    </div>
  </div>
  
<% entry_no = nil; @year = 1970
   @entries.each do |entry|
     if entry_no != entry.entry_no
       head = true; entry_no = entry.entry_no
     else
       head = false
     end %>
  <%= render partial:'general_ledger', locals:{entry:entry, head:head} %>
<%   @year = entry.date.year %>
<% end %>
</div>


