
<%= fields_for "detail#{lineno}", detail_obj do |f| %>
  <tr id="r<%= lineno %>">
    <td nowrap><%= f.hidden_field "lineno", :value => lineno + 1, :size => 2 %>
      <%= f.select "account_title_id", ac_collection,
                   {:selected => detail_obj[:account_title_id]} %>
    <td nowrap align="right">
      <%= f.text_field "amount", :class => "form-control input-sm", 
                       :style => "width:90px",
                       :onblur => "up_total();" %>
    <td>
      <%= f.text_field "remarks", :class => "form-control input-sm",
                       :style => "width:30em" %>
<% end %>
