
  <script type="application/json" id="ac-json-data">
<% ac_list = AccountTitle.grouped_items(@book) %>
    <%= (ac_list.map do |root|
           {
               label: root.name,
               sort: root.sort,
               choices: (root.children.map do |ac|
                           {
                               value:ac.id,
                               label:ac.name,
                               sort: ac.sort,
                               tax_group: ac.tax_group
                           }
                         end)
           }
         end).to_json.html_safe %>
  </script>
  
  <script type="application/json" id="vat-json-data">
<% # TODO: date: 未来も過去もある。現在 open の会計期間の末日にすべき。
   vat_list = Vat.active_items(@book, Date.today) %>
    <%= (vat_list.map do |vat|
         {
             label:     vat.name,
             value:     vat.id,
             tax_group: vat.tax_group,
             effective_day: vat.effective_day,
             tax_rate:  vat.tax_rate,
         }
         end).to_json.html_safe %>
  </script>

  <%= error_messages_for @invoice %>

<div class="row mb-3">
  <%= f.label :partner_id, "取引先:", class:"col-sm-2 col-form-label" %>
  <div class="col-sm-10">
    <%= f.collection_select :partner_id, 
                            Partner.where("book_id = ?", @book.id), :id, :name, 
                            {}, {:class => "form-control"} %>
  </div>
</div>

<div class="row mb-3">
  <%= f.label :date, "購入日:", class:"col-sm-2 col-form-label" %>
  <div class="col-sm-10">
    <%= f.date_select :date, :class => "form-control" %>
  </div>
</div>


<% # 明細 ##############################################################
  %>

  <%= render partial:"details_header" %>

<div id="invoice_details">
    
<% lines = [@invoice_details.length + 2, 6].max 
   ac_collection = AccountTitle.where("book_id = ? AND active <> 0 AND aggregate IS FALSE", @book.id) \
                               .order("sort") \
                               .map do |r| [r.name, r.id] end %>

<%= hidden_field_tag 'lines', lines %>

<p>金額欄を0/空白にすると, その行は削除します。

<table id="detail">
  <tr>
    <th>勘定科目 <th>金額 <th>内容
<% (0.. lines - 1).each do |lineno| 
     detail_obj = @invoice_details[lineno] || InvoiceDetail.new() %>
  <%= render :partial => "detail_edit_row", 
             :locals => {:lineno => lineno, :detail_obj => detail_obj,
                         :ac_collection => ac_collection} %>
<% end %>
  <tr>
    <th align="right">合計: <td id="total" nowrap align="right">xxxx
</table>
