

<% @page_title = "請求書の編集" %>


<%= form_for @invoice, :url => {:action => "update", :id => @invoice}, 
           :html => {:class => "form-horizontal", :role => "form"} do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="actions">
    <%= link_to "キャンセル", :action => "show", :id => @invoice %> 
    <button class="btn btn-primary">更新</button>
  </div>
<% end %>
