
<% @crumbs = [
   ]
   @page_title = "請求書の一覧" %>


● TODO: 検索機能の要件 (規則2 ⑥六), 一問一答 問41
<ol>
  <li>①取引年月日その他の日付、②取引金額及び③取引先を検索の条件として設定することができること。
  <li>日付又は金額に係る記録項目については、その範囲を指定して条件を設定することができること。
  <li>二以上の任意の記録項目を組み合わせて条件を設定することができること。 -> 取引先との AND 検索が必要。modal 開くか...
</ol>
問42 「Ａ又はＢ」の組合せは必要ありません。



<table class="table table-condensed">
  <tr>
    <th>取引先</th>
    <th>購入日</th>
    <th>金額</th>
    <th>内容(1行目)
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= invoice.partner.name %>
    <td><%= invoice.date %>
    <td nowrap align="right"><%= invoice.amount_total %>
    <td><%= invoice.details.first ? invoice.details.first.remarks : nil %>
    <td nowrap><%= link_to '詳細', :action => "show", :id => invoice %></td>
  </tr>
<% end %>
</table>

<p><%= link_to '新しい(購買)請求書...', :action => "new" %>
