
<% @page_title = "新しい請求書" %>


<% if Partner.where("book_id = ?", @book.id).empty? %>
<div class="alert alert-danger">
  取引先がありません。まず、取引先マスタで取引先を登録してください。
</div>
<% end %>




<%= form_for @invoice, :url => {:action => "create"}, 
           :html => {:class => "form-horizontal", :role => "form"} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="actions">
    <%= link_to "キャンセル", :action => "index" %> 
    <button class="btn btn-primary">作成</button>
  </div>
<% end %>
