
<% @page_title = "請求書" 
   @crumbs = [
     {:name => "請求書の一覧", :link => {:action => "index"}}
   ] %>

<table>
  <tr><th align="right">取引先: <td><%= @invoice.partner.name %>
  <tr><th align="right">購入日: <td><%= @invoice.date %>
</table>

<table class="table table-condensed">
  <tr>
    <th>勘定科目 <th>金額 <th>内容
<% @invoice.details.each do |detail| %>
  <tr>
    <td><%= detail.account_title.name %>
    <td nowrap align="right"><%= detail.amount %>
    <td><%= detail.remarks %>
<% end %>
  <tr>
    <th align="right">合計: 
    <td nowrap align="right"><%= @invoice.amount_total %>
</table>

<p><%= link_to '編集...', :action => "edit", :id => @invoice %> |
  <%= link_to '削除', {:action => "destroy", :id => @invoice}, 
              :confirm => 'Are you sure?', :method => :delete %>
