
<%= error_messages_for @partner %>



<div class="form-group row">
  <label class="control-label col-sm-2">Active:</label>
  <div class="col-sm-10">
    <div class="checkbox">
      <label><%= f.check_box :active %> アクティブ</label>
    </div>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-sm-2">名前:</label>
  <div class="col-sm-10">
    <%= f.text_field :name, :class => "form-control" %>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-sm-2">フリガナ:</label>
  <div class="col-sm-10">
    <%= f.text_field :kana_name, :class => "form-control" %>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-sm-2">説明:</label>
  <div class="col-sm-10">
    <%= f.text_area :description, :rows => 5, :class => "form-control" %>
  </div>
</div>
