
<%= form_with( model:@search, url:{action:"search"}, method: :get, data:{turbo:false} ) do |f| %>
  <%= error_messages_for 'search' %>

  <div class="row mb-3">
    <label for="partner_search_text" class="col-sm-2 col-form-label">テキスト:</label>
    <div class="col-sm-8">
      <%= f.text_field :text, class:"form-control" %>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  </div>

<% end %>

