
<% @page_title = "取引先の編集" %>


<%= form_for @partner, :url => {:action => "update"},
    :html => {:class => "form-horizontal well", :role => "form"} do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="actions">
    <%= link_to "キャンセル", :action => "show", :id => @partner %> 
    <button class="btn btn-primary">更新</button>
  </div>

<% end %>
