
<% @page_title = "新しい取引先" %>

<%= form_for( @partner, :url => {:action => "create"} ) do |f| %>

  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="actions">
    <%= link_to 'キャンセル', :action => "index" %>
    <button class="btn btn-primary">作成</button>
  </div>
<% end %>

