
<% @crumbs = [
   ]
   @page_title = "取引先の一覧" %>


<%= render partial:"search" %>


<table class="table">
  <tr>
    <th>Active?
    <th>名前</th>
    <th>説明</th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.active ? "Yes" : "No" %>
    <td><%= partner.name %>
    <td><%= partner.description %>
    <td><%= link_to '詳細', :action => "show", :id => partner %></td>
  </tr>
<% end %>
</table>

<p><%= link_to '新しい取引先...', :action => "new" %>
