
<% @crumbs = [
     {:name => "取引先の一覧", :link => {:controller => "partners", :action => "index"}},
   ]
   @page_title = @partner.name %>




<table>
  <tr><th align="right">アクティブ: <td><%= @partner.active %>
  <tr><th align="right">名前: <td><%= @partner.name %>
  <tr><th align="right">説明: <td><%= @partner.description %>
</table>


<p><%= link_to '編集...', :action => "edit", :id => @partner %> |
  <%= button_to '削除', {:action => "destroy", :id => @partner}, 
              :data => {:turbo_confirm => 'Are you sure?'}, :method => :delete %>
