<%= form_with(model: cc_reconciliation) do |form| %>
  <% if cc_reconciliation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cc_reconciliation.errors.count, "error") %> prohibited this cc_reconciliation from being saved:</h2>

      <ul>
        <% cc_reconciliation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
