<% content_for :title, "Editing cc reconciliation" %>

<h1>Editing cc reconciliation</h1>

<%= render "form", cc_reconciliation: @cc_reconciliation %>

<br>

<div>
  <%= link_to "Show this cc reconciliation", @cc_reconciliation %> |
  <%= link_to "Back to cc reconciliations", cc_reconciliations_path %>
</div>
