<p style="color: green"><%= notice %></p>

<% content_for :title, "Cc reconciliations" %>

<h1>Cc reconciliations</h1>

<div id="cc_reconciliations">
  <% @cc_reconciliations.each do |cc_reconciliation| %>
    <%= render cc_reconciliation %>
    <p>
      <%= link_to "Show this cc reconciliation", cc_reconciliation %>
    </p>
  <% end %>
</div>

<%= link_to "New cc reconciliation", new_cc_reconciliation_path %>
