<% content_for :title, "New cc reconciliation" %>

<h1>New cc reconciliation</h1>

<%= render "form", cc_reconciliation: @cc_reconciliation %>

<br>

<div>
  <%= link_to "Back to cc reconciliations", cc_reconciliations_path %>
</div>
