<p style="color: green"><%= notice %></p>

<%= render @cc_reconciliation %>

<div>
  <%= link_to "Edit this cc reconciliation", edit_cc_reconciliation_path(@cc_reconciliation) %> |
  <%= link_to "Back to cc reconciliations", cc_reconciliations_path %>

  <%= button_to "Destroy this cc reconciliation", @cc_reconciliation, method: :delete %>
</div>
