
  <%= error_messages_for form.object %>


<% if @admin_user  %>
  <div class="row mb-3 text-bg-info">
    <label class="col-sm-2 col-form-label">System item:</label>
    <div class="col-sm-10">
      <label class="form-check-label">
        <%= check_box_tag :system_item, '1', @system_item, 
                               class:"form-check-input" %>
        System item の作成・編集
      </label> 
    </div>
  </div>
<% end %>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="parent_id">親:</label>
    <div class="col-sm-10">
<% if ['new', 'create'].include?(controller.action_name) %>  
      <%= select_tag 'parent_id',
                options_from_collection_for_select(Division.aggregations(@book),
                                                   :id, :name, @parent_id),
              include_blank:"(Root)", class:"form-select" %>
<% else %>
      <%= @division.main_parent ? @division.main_parent.name : "(root)" %>
<% end %>
    </div>
  </div>


  <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">集計部門?:</label>
    <div class="col-sm-10">
<% if controller.action_name != "new" && controller.action_name != 'create' %>
      <%= @division.aggregate ? "集計部門" : "実在部門" %>
<% else %>
      <label class="form-check-label">
        <%= form.radio_button :aggregate, true, class:"form-check-input" %>
        集計部門 (仕訳を発生させない)</label>
      <label class="form-check-label">
        <%= form.radio_button :aggregate, false, class:"form-check-input" %>
        実在部門</label>
      <div class="form-text">
        <em style="color:red">※後から変更できません。</em>
      </div>
<% end %>      
    </div>
  </div>
  
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="end_day">使用終了:</label>
    <div class="col-sm-10">
      <%= date_field_tag :end_day, @end_day, class:"form-control" %> ブランクで active.
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :sort, "表示順:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :division_code, class:"form-control" %> 英字始まり, 英数のみ
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :name, "名前:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, class:"form-control" %> 
    </div>
  </div>


  <div class="row mb-3">
    <%= form.label :description, "説明:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area :description, rows:5, class:"form-control" %> 
    </div>
  </div>


  
<h2>実在部門のみ</h2>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">購買請求書・経費精算で利用:</label>
    <div class="col-sm-10">
      <label class="form-check-label">
        <%= form.check_box :purchase_active, class:"form-check-input" %>
        購買請求書で利用
      </label>  ●● TODO: `div_ovrds` のほうも付けること。
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">消費税:</label>
    <div class="col-sm-10">
<% if ['new', 'create'].include?(controller.action_name) ||
      !@division.vat_disable %>
      <label class="form-check-label">
        <%= form.check_box :vat_disable, class:"form-check-input" %>
        消費税の計上不可
      </label>
      <div class="form-text">
        <em style="color:red">※後から、計上不可→計上可に変更できません。</em>
      </div>
<% else %>
      ✓ 消費税の計上不可
<% end %>
    </div>
  </div>

