
<% @page_title = "会計部門の編集" %>

<%= form_with(model:@division,
              url:{controller:'divisions', action:'update', id:@division.id}) do |form| %>
  <%= render "form", form:form %>


  <div>
    <%= link_to "Cancel", {action:'show', id: @division.id}, class:'btn btn-secondary' %>
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
  
