
<% @crumbs = []
   @page_title = "会計部門の一覧" %>


<p>Active列をクリックで「利用する」に変更できます。

<% # separate parts to enable the table refresh.
  %>
<%= render partial: "div_frame" %>
  
<hr />
<p><%= link_to "新しい会計部門...", action:'new' %>
