
<% @page_title = "新しい会計部門" %>

<%= form_with(model:@division,
              url:{controller:'divisions', action:'create'}) do |form| %>
  <%= render "form", form:form %>

  <div>
    <%= link_to "Cancel", "./", class:'btn btn-secondary' %>
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>
  
