

<% @crumbs = [
     {name: "会計部門の一覧", link: "./"} # 末尾の "/" 必須
   ]
   @page_title = "会計部門: " + @division.name %>

<table class="table">
  <tr><th>division code: <td><%= @division.division_code %>
  <tr><th>System 部門?:  <td><%= @division.book_id ? "No" : "Yes" %>

  <tr><th>親:
    <td>
<% if @division.parents.size > 0
     @division.parents.each do |parent| %>           
      <%= parent.division_code %>
      <%= parent.name %>
<%   end %>
<% else %>
      親はありません
<% end %>
</table>




<div>
  <%= link_to "Edit this division...", edit_book_division_path(@book, @division) %> |
  <%= button_to "Destroy this division",
                {controller:'divisions', action:'destroy', id: @division.id},
                method: :delete, data:{turbo_confirm:'OK?'} %>
</div>
