
<% # @param @term モデルデータ
   # @param @book
  %>

<% templates = Report.where('book_id = ?', @book.id) %>

<%= form_with(model:@term, url:{action:'list'}, method:'GET') do |form| %>
  <%= error_messages_for 'term' %>

  <div class="row mb-3">
    <%= form.label :report_id, "テンプレート:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :report_id,
                    options_from_collection_for_select(templates, :id, :name,
                                                       form.object.report_id),
                    {}, class:"form-select" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :from, "自:", class:"col-sm-2 col-form-label text-end" %>
    <div class="col-sm-2"><%= form.date_field :from %></div>
    
    <%= form.label :to, "至:", class:"col-sm-2 col-form-label text-end" %>
    <div class="col-sm-2"><%= form.date_field :to %></div>
  </div>

  <%= form.submit "表示" %>
<% end %>

