
<% @crumbs = []
   @page_title = "財務諸表" %>

<%= render partial: "select_term" %>


<table class="table table-sm">
  <tr><th>繰越残高 <th>借方 <th>貸方 <th>残高
<% ReportingTitle.where('report_id = ?', @term.report_id).order(:position).each do |t| %>
<%   ac = t.account_title         %>
  <tr><th><%= ac.name %>
    <td><%= @balance_amt[ac.id] ? @balance_amt[ac.id][0] : '-' %>
    <td><%= @balance_amt[ac.id] ? @balance_amt[ac.id][1] : '-' %>
    <td><%= @amts_arising[ac.id] %>
<% end %>
</table>
