


<h1>認証について</h1>


accountingbook にも Userモデル (usersテーブル) がある。

accounts DB から必要に応じてコピーしてくる作りになっている。



config/initializers/authenticated_system.rb ファイル:
<pre>
module AuthenticatedSystem
  Application = ::AccountingBook::Application
  UserModel = ::User
  AuthTokenModel = ::Accounts::AuthToken
end
</pre>

トークンはaccounts DBのを使っている。

