
<% # 一覧表示
  %>


<div id="<%= dom_id book %>" class="row">
  <div class="col-4">
    <%= book.name %>
  </div>
  <div class="col">
    <%= link_to "この会計帳簿に入る", {action:"show", id: book.id} %>
  </div>
</div>
