

<%= error_messages_for book %>


  <div class="row mb-3">
    <label for="book_name" class="col-sm-2 col-form-label">名前:</label>
    <div class="col-sm-10">
      <%= form.text_field :name, class:"form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <label for="book_description" class="col-sm-2 col-form-label">説明:</label>
    <div class="col-sm-10">
      <%= form.text_area :description, rows: 5, class:"form-control" %>
    </div>
  </div>


<%= fields_for :book_setting, @book_setting do |bf| %>
  <div class="row mb-3">
    <%= bf.label :unappropriated_item, "未処分利益科目:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= bf.select :unappropriated_item,
                option_groups_from_collection_for_select(AccountTitle.grouped_items(@book), :children, :name, :id, :name, @book_setting.unappropriated_item),
                {:prompt => "(選んでください)"}, :class => "form-control" %>
      ※勘定科目を追加後に再度、この画面で設定ください。
    </div>
  </div>

<% end %>
