
<% @crumbs = [
   {name:"トップ", link: book_path} ]
   @page_title = "会計帳簿の設定"
  %>

<h2>基本設定</h2>

<%= form_with(model:@book, url:{action:'update', id:@book}) do |form| %>
  <%= render partial:"form", locals:{form:form, book:@book} %>
  <div>
    <%= link_to "Cancel", book_path(@book) %>
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>


<h2>Danger Zone</h2>

<p><%= button_to "Destroy this book", @book, method: :delete, data:{turbo_confirm:'OK?'} %>

  
  <tr><td><a href="end_service.rb">[退会する...]</a>
    <td>サービスの利用を終了します。

          
  <tr><td><a href="setting-theme.rb">[画面テーマの変更...]</a>
    <td>画面デザインをテーマ集から選びます。

  <tr><td><a href="csv.rb">[データのバックアップ]</a>（未完成）
    <td>データをCSVファイルとしてダウンロードします。

  </table>

<div class="row">
  <div class="col-3">
    別ユーザとの共同利用
  </div>
  <div class="col-9">
    家族と共同利用したり、顧問税理士を参加させたり、
  </div>
</div>

