
<% @page_title = "会計帳簿の一覧"
  %>

<div id="books" >
  <div class="row thead">
    <div class="col-3">名前</div>
  </div >
<% @books.each do |book| %>
  <%= render book %>
<% end %>
</div>

<hr />
<p><%= link_to "New book...", new_book_path %>

<p><%= link_to "消費税マスタ", "/vats/" %>
  
