
<% @page_title = "新しい会計帳簿"
  %>

<%= form_with(model:@book, url:{action:'create'}) do |form| %>
  <%= render partial: "form", locals:{form:form, book:@book} %>

<div>
  <%= link_to "キャンセル", "/books/", class:'btn btn-secondary' %>
  <%= form.submit class:'btn btn-primary' %>
</div>
<% end %>
