
<% @page_title = "締め処理" %>


<p>締切り日を入力してください。締めると，その日付以前の仕訳の登録，削除ができなくなります。締切り日は、過去に戻すこともできます。

<%= form_for(@book,
         :url => {:action => 'period_end_close_done', :urlkey => @book.urlkey},
         :method => :post) do |f| %>

<p><b>現在の締切り日:</b> <%= @fixed_day %>

<%= fields_for @book.setting do |setting_f| %>
  新しい締切り日: <%= setting_f.date_select2 'fixed_date' %>
<% end %>

  <div class="form-actions">
    <%= link_to "[キャンセル]", :action => "show", :id => @book %>
    <input type="submit" value="更新" class="btn btn-primary" />
  </div>

<% end %>


