
<% @crumbs = [
     {name: "会計帳簿の一覧", link: "/books/"} ]
   @page_title = @book.name + " : トップ"
  %>


<h2>管理</h2>

<div class="row">
  <div class="col-3">
    <%= link_to "会計帳簿の基本設定...", :action => "edit" %>
  </div>
  <div class="col-9">
    月末日, 特殊な勘定科目などを変更します。別ユーザとの共同利用、データのバックアップなど。
  </div>
</div>


<div class="row">
  <div class="col-3">為替レート  ●未了   </div>
  <div class="col-9">通貨と為替レート。  ●●仕訳に外貨が必要
</div>
  


<div class="row">
  <div class="col-3">
    <%= link_to '締め処理...', :action=>'period_end_close' %>
  </div>
  <div class="col-9">
    締めて，その日以前のデータを修正できないようにします (ロック)。 ●●月次でやりたい -> これはロックだけ
  </div>
</div>

<div class="row">
  <div class="col-3">
    <%= link_to '[会計期間]',
                {controller:'period_ends', action:'index', book_id:@book.id} %> 未了
  </div>
  <div class="col-9">
    毎年の消費税処理区分についてもこちらから。
  </div>
</div>

<div class="row">
  <div class="col-3">
    期末処理
  </div>
  <div class="col-9">
    年度末の伝票転記をおこなう。残高について翌期の期首として繰り越す。
  </div>
</div>



  
<h2>財務会計</h2>

<div class="row">
  <div class="col-3">
    <%= link_to "会計部門マスタ",
                "/books/#{@book.id}/divisions/",  # 末尾の "/" 必須
                class: 'card-link' %>
  </div>
  <div class="col-9">
    損益を分けて算出するための部門の設定。
  </div>
</div>


<div class="row">
  <div class="col-3">  
    <%= link_to "勘定科目マスタ",
                "/books/#{@book.id}/account_titles/", # 末尾の "/" 必須
                class: 'card-link' %> OK
  </div>
  <div class="col-9">
    勘定科目 (実在, 集計), その足し上げ方を追加・変更します。
  </div>
</div>

<div class="row">
  <div class="col-3">
    <%= link_to "[新しい振替伝票...]",
                {controller: "journals", action: "new", book_id: @book.id},
                class: 'card-link' %>
  </div>
  <div class="col-9">
    汎用の仕訳登録画面。複数の日付，科目の取引（仕訳）を登録します。
  </div>
</div>

<div class="row">
  <div class="col-3">予定取引 ●●未了</div>
  <div class="col-9">一つのまたは繰返しの取引を登録  ●仮仕訳の形がよい</div>
</div>

<div class="row">
  <div class="col-3">
    <%= link_to "[仕訳帳]", {controller:"journals", book_id: @book.id},
                class: 'card-link' %>
  </div>
  <div class="col-9">
    指定の期間の全取引を一覧表示します。
  </div>
</div>

<div class="row">    
  <div class="col-3">
    <%= link_to "[総勘定元帳]",
                {controller:"general_ledgers", action:"show", book_id:@book.id},
                class: 'card-link' %>
  </div>
  <div class="col-9">特定の科目の増減・残高を表示.</div>
</div>

<div class="row">    
  <div class="col-3">
    固定資産   ●●未了
  </div>
  <div class="col-9">
    償却費を発生させるだけの簡易な機能。
  </div>
</div>

<div class="row">
  <div class="col-3">
    <%= link_to "予算",
                {controller:"budgets", book_id:@book.id},
                class:'card-link' %> ●未了. ●元帳に予算ヴァージョンが必要
  </div>
  <div class="col-9">
    予算の一覧。計画の設定もここから。
  </div>
</div>

<div class="row">
  <div class="col-3">
    科目別税区分別消費税集計表
  </div>
  <div class="col-9">
    消費税にはこれが必要。
  </div>
</div>

<div class="row">
  <div class="col-3">
    <%= link_to "財務諸表テンプレート",
                {controller:'report_templates', action:'index', book_id:@book.id},
                :class => 'card-link' %>
  </div>
  <div class="col-9">
    新しいフォームを作成。ある期間の損益 (P/L), 現金・預金やクレジットカードの残高 (B/S) を確認.  ●●試算表と財務諸表を分けない
  </div>
</div>


<div class="row">
  <div class="col-3">
    <%= link_to "[財務諸表]",
                {controller:'statements', action:'show', book_id:@book.id},
                :class=> 'card-link' %>
  </div>
  <div class="col-9">
    損益計算書, 貸借対照表, キャッシュフロー計算書. 予算実績対比表もこちらから. ●●月次推移表
  </div>
</div>





<h2>販売管理</h2>

<div class="row">
  <div class="col-3">
    販売請求書  ●未了
  </div>
  <div class="col-9">
    請求書 (インボイス) の発行
  </div>
</div>




<h2>購買管理</h2>

<div class="row">
  <div class="col-3">
    <%= link_to "(購買)請求書の受け入れ",
                  {controller:"invoices", book_id:@book.id} %>
  </div>
  <div class="col-9">
    後払いの請求書による経費の計上。
  </div>
  
  <div class="col-3">
    <%= link_to "経費精算", {controller:"expenses", book_id:@book.id} %> 未了
  </div>
  <div class="col-9">
    領収書による経費の計上。クレジットカード払いもこちら。
  </div>
</div>



<h2>取引先</h2>

<div class="row">
  <div class="col-3">
    <%= link_to "取引先マスタ",
                {controller:"partners", action:"index", book_id:@book.id},
                class: 'card-link' %>
  </div>
  <div class="col-9">
    請求書払いの取引先 (支払先・請求先) を追加・変更します。仕入先と売上先を区別せず、同じマスタで。振込先で枝番が必要。
  </div>
</div>




<h2>入出金</h2>

<div class="row">
  <div class="col-3">
    <%= link_to "[取引照合: 支払い]",
                {controller:"cc_reconciliations", book_id:@book.id},
                class: 'card-link' %> ●●未了.
  </div>
  <div class="col-9">
    クレジットカード明細との照合, 引き落とし登録。●仕訳に期日と照合済みが必要。
  </div>
</div>

<div class="row">
  <div class="col-3">
    <%= link_to "[銀行振込み]",
                {controller:"payments", book_id:@book.id},
                class: 'card-link' %> ●●未了.
  </div>
  <div class="col-9">
  </div>
</div>

<div class="row">
  <div class="col-3">
    <%= link_to "[現金・預金出納帳]",
                {controller:"cashbooks", book_id:@book.id, action:"show"},
                class: 'card-link' %> ●●未了. 残高締め上げも未了.
  </div>
  <div class="col-9">
    現金・預金の預入れなどの入出金を登録します。残高を締めるのもこちらから。
  </div>
</div>

<div class="row">
  <div class="col-3">
    <%= link_to "[資金口座マスタ]",
                {controller:"cash_accounts", book_id:@book.id},
                class: 'card-link' %> ●●未了.
  </div>
  <div class="col-9">
    現金, 銀行口座、クレジットカードのマスタ。
  </div>
</div>

<div class="row">
  <div class="col-3">
    金融投資
  </div>
  <div class="col-9">
    有価証券、など
  </div>
</div>

<div class="row">
  <div class="col-3">
    借入金
  </div>
  <div class="col-9">
    返済計画
  </div>
</div>


