

<% @page_title = "現金出納帳" %>

<table>
  <tr><rh align="right">日付: <td>●●
  <tr><th align="right">
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cashes.each do |cash| %>
  <tr>
    <td><%= link_to 'Show', cash %></td>
    <td><%= link_to 'Edit', edit_cash_path(cash) %></td>
    <td><%= link_to 'Destroy', cash, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cash', new_cash_path %>
