
<% # `report_templates/show` から呼び出される
   # @param @report 親テンプレートモデル
   # @param title [ReportingTitle] モデルデータ
  %>

<%= turbo_frame_tag title do %>
  <div class="row border-top" >
    <div class="col-2">
      <label>
        <%= radio_button_tag :ins_pos, title.position, data:{action:"change->report-templates#onPosSelect"} %>
        <%= title.position %>
      </label>
    </div>
    <div class="col-4"><%= title.account_title.name %></div>
    <div class="col-2">
      <%= title.ac_type == 1 ? "残高" :
          (title.ac_type == 4 ? "発生額" : raise) %>
    </div>
    <div class="col-2">
      <%= title.sign >= 0 ? "借方正残" : "貸方正残" %>
    </div>
    <div class="col-2">
      <%= link_to "編集...",
                {controller:'reporting_titles', action:"edit", id:title.id},
                class: "btn btn-sm btn-outline-primary" %>
      <%= button_to "-", {controller:'reporting_titles', action:"destroy", id:title.id}, method: :delete, data: {turbo_confirm: "OK?"}, class:"btn btn-sm btn-outline-danger", form_class:"d-inline" %>
    </div>
  </div>
<% end %>
