
<%= turbo_frame_tag @reporting_title do %>
  <%= form_with(model:@reporting_title,
                url: {action:'update', id:@reporting_title.id} ) do |form| %>
  <div class="row border-top">
    <div class="col-4">
      <%= form.select "account_title_id",
                      option_groups_from_collection_for_select(
                                @ac_list, :children, :name, :id, :name,
                                @reporting_title.account_title_id),
                      {}, class:"form-select" %>
    </div>

    <div class="col-2">
      ●●発生 / 残高
    </div>

    <div class="col-2">
      <label>
        <%= form.radio_button :sign, +1, class:"form-check-input" %> 借方正残</label>
      <label>
        <%= form.radio_button :sign, -1, class:"form-check-input" %> 貸方正残</label>
    </div>
    
    <div class="col-3">
      <%= form.hidden_field :position %>
      <%= link_to "Cancel", {action:"edit_cxl", id:@reporting_title.id},
                  data:{turbo_method: :post}, class:"btn btn-sm btn-secondary" %>
      <%= form.submit "更新", class:"btn btn-sm btn-success" %>
    </div>
  </div>
  <% end %>

<% end %>
