
<% # @param f フォーム
   # @param @credit_card モデル
  %>

<%= error_messages_for @credit_card %>


<div class="form-group row">
  <label class="control-label col-sm-2">Active:</label>
  <div class="col-sm-10">
    <div class="checkbox">
      <label><%= f.check_box :active %> アクティブ</label>
    </div>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-sm-2">名前:</label>
  <div class="col-sm-10">
    <%= f.text_field :name, :class => "form-control" %>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-sm-2">説明:</label>
  <div class="col-sm-10">
    <%= f.text_area :description, :rows => 5, :class => "form-control" %>
  </div>
</div>

<div class="form-group row">
  <label class="control-label col-sm-2">勘定科目:</label>
  <div class="col-sm-10">
    <%= select 'credit_card', :account_title_id, 
            option_groups_from_collection_for_select(
                   make_grouped_account_title_list(), :ac, :name, :id, :name,
                   @credit_card.account_title_id),
            {}, :class => "form-control" %>
    債務科目から選んでください.
  </div>
</div>


