
<% @page_title = "クレジットカードの編集" %>


<%= form_for( @credit_card,
              :url => {:action => "update", :id => @credit_card} ) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>

  <div class="actions">
    <%= link_to 'キャンセル', :action => "show", :id => @credit_card %>
    <%= submit_tag "更新", :class => "btn btn-primary" %>
  </div>
<% end %>

