<% @crumbs = [
   ]
   @page_title = "クレジットカードの一覧" %>



<table class="table table-sm">
  <tr>
    <th>Active
    <th>名前
    <th>説明
    <th>勘定科目
  </tr>

<% @credit_cards.each do |credit_card| %>
  <tr>
    <td><%= credit_card.active ? "Yes" : "No" %>
    <td><%= credit_card.name %>
    <td><%= credit_card.description %>
    <td><%= credit_card.account_title.name %>
    <td><%= link_to '詳細', :action => "show", :id => credit_card %>
  </tr>
<% end %>
</table>

<p><%= link_to '新しいクレジットカード...', :action => "new" %>
