
<% @page_title = "新しいクレジットカード" %>


<%= form_for( @credit_card, :url => {:action => "create"} ) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>

  <div class="actions">
    <%= link_to 'キャンセル', :action => "index" %>
    <%= submit_tag "作成", :class => "btn btn-primary" %>
  </div>
<% end %>


