

<% @page_title = @credit_card.name 
   @crumbs = [
     {:name => "クレジットカードの一覧", :link => {:action => "index"}
   }]
  %>

<table>
  <tr><th align="right">Active: <td><%= @credit_card.active ? "Yes" : "No" %>
  <tr><th align="right">名前: <td><%= @credit_card.name %>
  <tr><th align="right">説明: <td><%= @credit_card.description %>
  <tr><th align="right">勘定科目: <td><%= @credit_card.account_title.name %>
</table>

<p><%= link_to '編集...', :action => "edit", :id => @credit_card %> |
  <%= link_to '削除', {:action => "destroy", :id => @credit_card}, 
               :data => {:confirm => 'Are you sure?'}, :method => :delete %>
