
<% # @param @journal 伝票
   # @param entry [JournalEntry] モデルデータ
   # @param lineno 行番号. 0始まり
  %>


<% div_list = Division.active_items(@book, @journal.date) %>

<%= turbo_frame_tag "entries_#{lineno}" do %>
  <%= fields_for "entries[#{lineno}]", entry do |sub| %>
  <div class="row entryrow border-bottom border-primary" 
       data-controller="journal-entries">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-6 p-0">
      <%= sub.select :division_id,
                options_from_collection_for_select(
                                div_list, :id, :name,
                                entry.division_id),
                {}, class:"form-select form-control-sm",
                data:{"journal-entries-target" => "divSelect"} %>
        </div>
        <div class="col-6 p-0">
      <%= sub.select :account_id,
                #option_groups_from_collection_for_select(
                #                [], :children, :name, :id, :name,
                #                entry.account_id),
                "", {}, value: entry.account_id, class:"form-control-sm",
                data:{"journal-entries-target" => "acSelect", "action" => "change->journal-entries#onAcChanged"} %>
        </div>
        <div class="col-11 p-0">
      <%= sub.select :partner_id,
                options_from_collection_for_select(
                            [], :id, :name, entry.partner_id),
                {}, class:"form-select form-control-sm", data:{"journal-entries-target" => "partnerSelect"} %>
        </div>
      </div>
    </div>
    
    <div class="col-4 p-0">
      <%= sub.text_area :comment, rows:2, class:"form-control form-control-sm" %>
    </div>

    <div class="col-sm-1">
      <div class="row">
        <div class="col-12 p-0">
      <%= sub.select :vat_id,
                #options_from_collection_for_select(
                #                [], :id, :name,
                #                entry.vat_id),
                "", {},
                value: entry.vat_id,
                class:"form-control-sm", data:{"journal-entries-target" => "vatSelect"} %>
        </div>

        <div class="col-12">
          ●●期日
        </div>
      </div>
    </div>
    
<% # type="number" では `size:` は使えない.
  %>
    <div class="col-sm-3 ">
      <div class="row">
        <div class="col-6 p-0">
          <%= tag.input name: "entries[#{lineno}][debit_amt]",
                        type:'number', class:"form-control form-control-sm",
                        value: entry.amount && entry.amount >= 0 ? entry.amount : "",
                        style:"text-align:right",
                        data:{"journals-target" => "debitAmt", "journal-entries-target" => "debitAmt", "action" => "change->journals#debitUpdate change->journal-entries#amtUpdate"} %>
        </div>
        <div class="col-6 p-0">
          <%= tag.input name: "entries[#{lineno}][credit_amt]",
                        type:'number', class:"form-control form-control-sm",
                        value: entry.amount && entry.amount < 0 ? -entry.amount : "",
                        style:"text-align:right",
                        data:{"journals-target" => "creditAmt", "journal-entries-target" => "creditAmt", "action" => "change->journals#creditUpdate change->journal-entries#amtUpdate"} %>
        </div>
        
        <div class="col-6 p-0">
          <%= tag.input name: "entries[#{lineno}][dr_vat_amt]",
                        type:'number', class:"form-control form-control-sm",
                        style:"text-align:right",
                        readonly:true,
                        data:{"journals-target" => "drVatAmt", "journal-entries-target" => "drVatAmt", "action" => "change->journals#vatUpdate"} %>
        </div>
        <div class="col-6 p-0">
          <%= tag.input name: "entries[#{lineno}][cr_vat_amt]",
                        type: 'number', class:"form-control form-control-sm",
                        style:"text-align:right",
                        readonly:true,
                        data:{"journals-target" => "crVatAmt", "journal-entries-target" => "crVatAmt", "action" => "change->journals#vatUpdate"} %>
        </div>
      </div>
    </div>

<% # HTML は, <form> の入れ子はできない。
  %>       
    <div class="col-1">
      <%= button_tag "+", type:"button", data:{action:"click->journals#onAddLine", "journals-lineno-param": lineno} %>
      <%= button_tag "-", type:"button", data:{action:"click->journal-entries#onRemoveLine"} %>
    </div>
    
  </div>
<%   end %>
<% end %>
