
<% # @param form フォームビルダ
  %>

  <script type="application/json" id="ac-json-data">
<% ac_list = AccountTitle.grouped_items(@book) %>
    <%= (ac_list.map do |root|
           {
               label: root.name,
               sort: root.sort,
               choices: (root.children.map do |ac|
                           {
                               value:ac.id,
                               label:ac.name,
                               sort: ac.sort,
                               tax_group: ac.tax_group
                           }
                         end)
           }
         end).to_json.html_safe %>
  </script>
  
  <script type="application/json" id="vat-json-data">
<% # TODO: date: 未来も過去もある。現在 open の会計期間の末日にすべき。
   vat_list = Vat.active_items(@book, Date.today) %>
    <%= (vat_list.map do |vat|
         {
             label:     vat.name,
             value:     vat.id,
             tax_group: vat.tax_group,
             effective_day: vat.effective_day,
             tax_rate:  vat.tax_rate,
         }
         end).to_json.html_safe %>
  </script>
  
  <%= error_messages_for 'journal' %>

<div class="row mb-3">
  <%= f.label :date, "転記日:", class:"col-sm-2 col-form-label" %>
  <div class="col-sm-10">
    <%= form.date_field :date %>
  </div>
</div>

  
<% # 明細 ################################################################3
  %>
  
  <%= render partial:"form_header" %>

<div id="entry_body">
<% for i in 0..([6, @journal.entries.size].max - 1) do
     entry = @journal.entries[i] || JournalEntry.new %>
  <%= render partial:"form_entry", locals:{entry:entry, lineno:i + 1} %>
<% end %>
</div> <!-- /#entry_body -->
  
  <div id="entries_0" class="row border">
    <div class="col-sm-3"> </div>
    <div class="col-4"></div>
    <div class="col-sm-1"></div>
    
    <div class="col-sm-3">
      <div class="row">
        <div class="col-6" id="debit_ttl" style="text-align:right">0 </div>
        <div class="col-6" id="credit_ttl" style="text-align:right"> 0 </div>
        <div class="col-6" id="dr_vat_ttl" style="text-align:right">0</div>
        <div class="col-6" id="cr_vat_ttl" style="text-align:right">0</div>
      </div>
    </div>

    <div class="col-1">
      <%= button_tag "+", type:"button", data:{action:"click->journals#onAddLine"} %>
    </div>
  </div>
