
<% # `form` と `show` 共通
  %>

  <div class="row thead">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-6">部門</div>
        <div class="col-6">勘定科目</div>
        <div class="col-12">取引先</div>
      </div>
    </div>
          
    <div class="col-4">摘要</div>

    <div class="col-sm-1 ">
      <div class="row">
        <div class="col-12">消費税</div>
        <div class="col-12">期日</div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="row">
        <div class="col-6">借方</div>
        <div class="col-6">貸方</div>
      </div>
    </div>

    <div class="col-1">
    </div>
  </div>
