
<% # `list.html.erb` から呼び出される.
   # @param head [bool]  一番左のカラムを表示するか
   # @param @year  表示している年
   # @param entry  仕訳の1行
  %>

<div class="row border" id="<%= dom_id entry %>">
  <div class="col-sm-1">
    <div class="row">
<% if head %>
      <div class="col-12">
        <%= entry.date.year != @year ?
                "#{entry.date.year}/#{entry.date.mon}/#{entry.date.day}" :
                "#{entry.date.mon}/#{entry.date.day}" %>
      </div>
      <div class="col-12">
        <%= head ? link_to(entry.entry_no,
                           {controller:'journals',action:'show',
                           id:entry.entry_no, date:entry.date}) : tag.br  %>
      </div>
<% else %>
      <div class="col-12">&nbsp;</div>
      <div class="col-12">&nbsp;</div>
<% end %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="row">
      <div class="col-6 border-bottom"><%= entry.division.name %></div>
      <div class="col-6 border-bottom"><%= entry.account.name %></div>
      <div class="col-12">●取引先</div>
    </div>
  </div>
  
  <div class="col-4"><%= entry.comment %></div>
  
  <div class="col-sm-1 ">
    <div class="row">
      <div class="col-12 border-bottom"><%= entry.vat ? entry.vat.name : "&nbsp;".html_safe() %></div>
      <div class="col-12">●●期日</div>
    </div>
  </div>
  
<% if entry.dr_or_cr >= 0 %>  
  <div class="col-sm-3">
    <div class="row">
      <div class="col-6 text-nowrap" style="text-align:right">
        <%= entry.amount %>
      </div>
      <div class="col-6"> </div>
      <div class="col-6 text-nowrap" style="text-align:right">
        <%= entry.vat_amt != 0 ? "内 " + entry.vat_amt.to_s : "" %>
      </div>        
    </div>
  </div>
<% else %>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-6"> </div>
      <div class="col-6 text-nowrap" style="text-align:right">
        <%= -entry.amount %>
      </div>
      <div class="col-6"> </div>
      <div class="col-6 text-nowrap" style="text-align:right">
        <%= entry.vat_amt != 0 ? "内 " + (-entry.vat_amt).to_s : "" %>
      </div>        
    </div>
  </div>
<% end %>
</div>
