
<% # ●●TODO: 期間だけでなく、取引先などでフィルタできるようにしたほうがいい
  %>

<%= form_with(model:@term, url: {action:'list'}, method:'get') do |form| %>
  <%= error_messages_for 'term' %>

  From: <%= form.date_field :from %>
  To: <%= form.date_field :to %>
  
  <%= form.submit "表示" %>
<% end %>

