
<% @page_title = "振替伝票の編集" %>

<div data-controller="journals">
  <%= form_with(model: @journal, method: :put, url: {action:'update', id: @journal.entries.first.entry_no, date:@journal.date}) do |form| %>
    <%= render "form", form:form %>


<div>
  <%= link_to "Cancel", {action:'show', id: @journal.entries.first.entry_no, date:@journal.date},
              class:"btn btn-secondary", role:"button" %>

  <%= form.submit "更新", class:"btn btn-primary" %>
</div>

  <% end %>
</div> <!-- /[data-controller="journals"] -->
