
<% @crumbs = []
   @page_title = "仕訳帳"
  %>   

<%= render partial:'select_term' %>


<div id="journals">
  <div class="row thead">
    <div class="col-sm-1">
      <div class="row">
        <div class="col-12">日付</div>
        <div class="col-12">伝票#</div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="row">
        <div class="col-6">部門</div>
        <div class="col-6">勘定科目</div>
        <div class="col-6">取引先</div>
      </div>
    </div>
          
    <div class="col-4">摘要</div>

    <div class="col-sm-1 ">
      <div class="row">
        <div class="col-12">消費税</div>
        <div class="col-12">期日</div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="row">
        <div class="col-6">借方</div>
        <div class="col-6">貸方</div>
      </div>
    </div>
  </div>
  
  <% entry_no = nil; @year = 1970
     @journals.each do |entry|
       if entry_no != entry.entry_no
         head = true; entry_no = entry.entry_no
       else
         head = false
       end %>
    <%= render partial:'journal', locals:{entry:entry, head:head} %>
<%     @year = entry.date.year
     end %>
</div>


<%= link_to "New journal...", {action:'new', journals_term:@term.to_hash} %>

