
<% @page_title = "新しい振替伝票" %>

<div data-controller="journals">
  <%= form_with(model: @journal, url: {action:'create'}) do |form| %>
    <%= render partial:"form", locals:{form:form} %>


    <div>
      <%= link_to "Cancel",
              (@term ? {action:'list', journals_term:@term.to_hash} : {action:'index'}),
              class:"btn btn-secondary", role:"button" %>

      <%= form.submit "作成", class:"btn btn-primary" %>
    </div>

  <% end %>
</div> <!-- /[data-controller="journals"] -->


