
<% @page_title = "振替伝票" 
   @crumbs = [
     {:name => "仕訳帳", :link => {:action => "index"}},
   ] %>

<p>日付: <%= @journal.date %>

<p>伝票番号: <%= @journal.entries.first.entry_no %>

<%= render partial:"form_header" %>

<% @journal.entries.each do |entry| %>
  <div class="row border">
    <div class="col-sm-3">
      <div class="row">
        <div class="col-6"><%= entry.division.name %> </div>
        <div class="col-6"><%= entry.account.name %> </div>
        <div class="col-12">●●TODO: 取引先 </div>
      </div>
    </div>

    <div class="col-4"><%= entry.comment %> </div>
    
    <div class="col-sm-1">
      <div class="row">
        <div class="col-12">
          <%= entry.vat ? entry.vat.name : "" %>
        </div>
        <div class="col-12">
          ●●期日
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="row">
<% if entry.dr_or_cr >= 0 %>
        <div class="col-6 text-nowrap" style="text-align:right"><%= entry.amount %> </div>
        <div class="col-6"> </div>
        <div class="col-6 text-nowrap" style="text-align:right">
          <%= entry.vat_amt != 0 ? "内 " + entry.vat_amt.to_s : "" %> </div>
        <div class="col-6"> </div>
<% else %>
        <div class="col-6"> </div>
        <div class="col-6 text-nowrap" style="text-align:right"><%= -entry.amount %> </div>
        <div class="col-6"> </div>
        <div class="col-6 text-nowrap" style="text-align:right">
          <%= entry.vat_amt != 0 ? "内 " + (-entry.vat_amt).to_s : "" %> </div>
<% end %>
      </div>
    </div>

  </div>
<% end %>



<div>
  <%= link_to "Edit this journal...", {action:'edit', id:@journal.entries.first.entry_no, date:@journal.date} %> |

  <%= button_to "Destroy this journal", {action:'destroy', id:@journal.entries.first.entry_no, date:@journal.date} , method: :delete,
                data:{turbo_confirm:'OK?'} %>
</div>
