<% @page_title = "ユーザ登録" %>




<%= error_messages_for :user %>


<%= form_for :user do |f| -%>

<table>
  <tr><th align="right">ログインID: <td><%= f.text_field :login %> (英数)

  <tr><th align="right">パスワード: <td><%= f.password_field :password %>
  <tr><th align="right">パスワード (確認): 
    <td><%= f.password_field :password_confirmation %>

  <tr><th align="left">(社員情報)
  <tr><th align="right">社員コード: <td><%= f.text_field :worker_code %> (英数)
  <tr><th align="right">氏名:      <td><%= f.text_field :name %>
  <tr><th align="right">振りがな:   <td><%= f.text_field :kana_name %>（全角カタカナ）
  <tr><th align="right">eメール: <td><%= f.text_field :email %>
</table>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
