

/** 
 * dynamic_form error messages
 *
 * <div id="errorExplanation">
     <h2>1 error prohibited this OBJECT_NAME from being saved</h2>
     <p>There were problems with the following fields:</p>
     <ul>
       <li>FIELD_NAME can't be blank</li>
     </ul>
   </div>
 */
.field_with_errors {
    width: inherit !important; /* [2024.8] これが必要 */
  padding: 2px;
  background-color: red;
  display: inline-block;  /* display:table では囲まれない */
}

#errorExplanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1.2em; /* 12px */
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 1em;  /* 12px */
  list-style: square;
}

