
<div id="ac_table_frame" data-controller="account-titles">

  <script type="application/json" id="tbl-json-data">
    <%= @ac_tab_ary.to_json.html_safe %>
  </script>
 

  <div id="ac-tbl" >
  </div>

</div>
