
  <%= error_messages_for form.object %>

<% if @admin_user  %>
  <div class="row mb-3 text-bg-info">
    <label class="col-sm-2 col-form-label">System item:</label>
    <div class="col-sm-10">
      <label class="form-check-label">
        <%= check_box_tag :system_item, '1', @system_item,
                               class:"form-check-input" %>
        System item の作成・編集
      </label> 
    </div>
  </div>
<% end %>
  
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label" for="parent_id">親:</label>
    <div class="col-sm-10">
<% if ['new', 'create'].include?(controller.action_name) %>  
      <%= select_tag 'parent_id',
                options_from_collection_for_select(AccountTitle.aggregations(@book),
                                                   :id, :name, @parent_id),
              include_blank:"(Root)", class:"form-select" %>
<% else %>
      <%= @account_title.main_parent ? @account_title.main_parent.name : "(root)" %>
<% end %>
    </div>
  </div>


  <div class="row mb-3">
    <label  class="col-sm-2 col-form-label">集計科目?:</label>
    <div class="col-sm-10">
<% if controller.action_name != "new" && controller.action_name != 'create' %>
      <%= @account_title.aggregate ? "集計科目" : "実在科目" %>
<% else %>
      <label class="form-check-label">
        <%= form.radio_button :aggregate, true, class:"form-check-input" %>
        集計科目 (仕訳を発生させない)
      </label>
      <label class="form-check-label">
        <%= form.radio_button :aggregate, false, class:"form-check-input" %>
        実在科目
      </label>
      <div class="form-text">
        <em style="color:red">※後から変更できません。</em>
      </div>
<% end %>      
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Active:</label>
    <div class="col-sm-10">
      <label class="form-check-label">
        <%= check_box_tag :active, '1', @active, class:"form-check-input" %>
        Active
      </label> 
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :sort, "表示順:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :sort, class:"form-control" %>
      <div class="form-text">英字始まり, 英数のみ</div>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :name, "名前:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, class:"form-control" %> 
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :name_short, "短縮名:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name_short, class:"form-control" %> 
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :description, "説明:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area :description, rows:5, class:"form-control" %> 
    </div>
  </div>


<% if ['new', 'create'].include?(controller.action_name) ||
      !@account_title.aggregate %>

<h2>実在科目のみ</h2>

  <div class="row mb-3">
    <%= form.label :sign, "残高か発生か:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
<% if ['new', 'create'].include?(controller.action_name) %>  
      <label class="form-check-label">
        <%= form.radio_button :ac_type, 1, class:"form-check-input" %> 残高</label>
      <label class="form-check-label">
        <%= form.radio_button :ac_type, 4, class:"form-check-input" %> 発生額</label>
      <div class="form-text">
        <em style="color:red">※後から変更できません。</em>
      </div>
<% else %>
      <%= @account_title.ac_type == 1 ? "残高科目" :
             (@account_title.ac_type == 4 ? "発生科目" : raise) %>
<% end %>
    </div>
  </div>


  <div class="row mb-3">
    <%= form.label :sign, "元帳の表示正残:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <label class="form-check-label">
        <%= form.radio_button :sign, +1, class:"form-check-input" %>
        借方</label>
      <label class="form-check-label">
        <%= form.radio_button :sign, -1, class:"form-check-input" %>
        貸方</label>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :kind, "業務アプリ:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
<% AccountTitle::KINDS.to_a.each do |x| %>
      <div class="form-check">
        <label class="form-check-label">
          <%= form.radio_button :kind, x[0], class:"form-check-input" %>
          <%= x[1] %>
        </label>
      </div>
<% end %>
      <div class="form-check">
        <label class="form-check-label">
          <%= form.radio_button :kind, 0, class:"form-check-input" %>
          なし
        </label>
      </div>
    </div>
  </div>

  
  <div class="row mb-3">
    <%= form.label :kind, "購買請求書・経費精算:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <table class="table table-sm">
        <tr><th>利用可?  <th>債務科目
        <tr>
          <td>
            <label class="form-check-label">
              <%= form.check_box :enable_invoice, class:"form-check-input" %>
              Yes
            </label>
          <td>
            <%= form.collection_select :payable_id, AccountTitle.ap_items(@book),
                                    :id, :name %>
      </table>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :tax_group, "税グループ:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :tax_group,
                      (Vat::TAX_GROUP.to_a.map do |v| [v[1], v[0]] end),
                      {include_blank:"消費税不可"} %>
    </div>
  </div>

<% end %>
  
