
<% @page_title = "勘定科目の編集" %>

<%= form_with(model: @account_title,
              url:{controller:'account_titles', action:'update', id: @account_title.id}) do |form| %>
  <%= render "form", form:form %>

  <div>
    <%= link_to "Cancel", 
                {controller:'account_titles', action:'show', id: @account_title.id},
              class:"btn btn-secondary", role:"button" %>

    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>

