
<% @crumbs = []
   @page_title = "勘定科目の一覧" %>

●● TODO: ここに検索ボックスがほしい

<div class="row">
  <div class="col">
    <nav class="nav flex-column nav-pills">
<% @ac_sections.each do |ac_section| %>
<%   if ac_section[:active] %>
      <a class="nav-link active" aria-current="page"><%= ac_section[:name] %></a>
<%   else %>
      <%= link_to ac_section[:name], "/books/#{@book.id}/account_titles/?tab=#{ac_section[:link]}", class: "nav-link" %>
<%   end %>
<% end %>
    </nav>
  </div>
  
  <div class="col">
    
<% # separate parts to enable the table refresh.
  %>
<%= render partial: "ac_table_frame" %>

  </div>
</div>


<hr />
<p><%= link_to "新しい勘定科目...", action: 'new' %>
