
<% @page_title = "新しい勘定科目" %>

<%= form_with(model: @account_title,
              url:{controller:'account_titles', action:'create'}) do |form| %>
  <%= render "form", form:form %>

  <div>
    <%= link_to "Cancel", "./",
                class:"btn btn-secondary", role:"button" %>

    <%= form.submit class:"btn btn-primary"  %>
  </div>
<% end %>

