
<% @crumbs = [
     {name: "勘定科目の一覧", link: "./" } # 末尾の "/" 必須
   ]
   @page_title = "勘定科目: " + @account_title.name %>


<% ovrd = @account_title.ac_ovrd(@book) %>

<table class="table">
  <tr><th>Sort: <td><%= @account_title.sort %>
  <tr><th>System科目?: <td><%= @account_title.book_id ? "No" : "Yes" %> 
  <tr><th>親:
    <td>
<% if @account_title.parents.size > 0 
     @account_title.parents.each do |parent| %>
      <%= parent.sort %>
      <%= parent.name %>
<%   end %>
<% else %>
      親はありません
<% end %>

  <tr><th>集計科目?:
    <td><%= @account_title.aggregate ? "集計科目" : "実在科目" %>  

  <tr><th>Active?:
    <td><%= ovrd ? ovrd.active : "-" %>
        
  <tr><th>Name:
    <td>
<% if ovrd %>
      <%= ovrd.name %><br /><span class="text-secondary"><%= @account_title.name %></span>
<% else %>
      <%= @account_title.name %>      
<% end %>

  <tr><th>Name short:
    <td>
<% if ovrd %>
      <%= ovrd.name_short %><br /><span class="text-secondary"><%= @account_title.name_short %></span>
<% else %>
      <%= @account_title.name_short %>      
<% end %>

  <tr><th>元帳の表示正残:
    <td>
      <%= ovrd ? ovrd.sign : @account_title.sign %>          
</table>


<div>
  <%= link_to "Edit this account title...", edit_book_account_title_path(@book, @account_title) %> |

  <%= button_to "Destroy this account title",
                {controller:'account_titles', action:'destroy', id:@account_title.id},
                method: :delete, data:{turbo_confirm:'OK?'} %>
</div>
