
<%= form_with(model: vat) do |form| %>
  <% if vat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vat.errors.count, "error") %> prohibited this vat from being saved:</h2>

      <ul>
        <% vat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <%= form.label :tax_group, "税グループ:", class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.select :tax_group,
                      (Vat::TAX_GROUP.to_a.map do |v| [v[1], v[0]] end) %>
    </div>
  </div>
  
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
