
<% # 一覧に表示
  %>

<div id="<%= dom_id vat %>" class="row">
  <div class="col-1">
    <%= vat.country %>
  </div>
  <div class="col-1">
    <%= vat.tax_code %>
  </div>
  <div class="col-2">
    <%= vat.name %>
  </div>

  <div class="col-2">
    <%= Vat::TAX_GROUP[vat.tax_group] ? Vat::TAX_GROUP[vat.tax_group] : "● #{vat.tax_group}" %>
  </div>
  
  <div class="col-2">
    <%= vat.effective_day %>
  </div>
  <div class="col-1">
    <%= vat.tax_rate %>
  </div>

  <div class="col-1">
    <%= link_to "詳細", vat %>
  </div>
</div>
