
<% @crumbs = [
     {name: "会計帳簿の一覧", link: "/books/"} ]
   @page_title = "消費税マスタ" %>

<div class="row thead">
  <div class="col-1">国</div>
  <div class="col-1">税コード</div>
  <div class="col-2">名前</div>
  <div class="col-2">税グループ</div>
  <div class="col-2">開始日</div>
  <div class="col-1">税率</div>
</div>

<div id="vats">
<% @vats.each do |vat| %>
  <%= render vat %>
<% end %>
</div>

<hr />
<p><%= link_to "New vat...", new_vat_path %>  ●● TODO: 編集は admin に制限
