
<% @page_title = @vat.name %>

<%= render @vat %>

<div>
  <%= link_to "Edit this vat", edit_vat_path(@vat) %> |
  <%= link_to "Back to vats", vats_path %>

  <%= button_to "Destroy this vat", @vat, method: :delete %>
</div>
