
  <%= error_messages_for form.object %>

  <div class="row mb-3">
    <%= form.label :name, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, class:"form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.label :description, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area :description, class:"form-control" %>
    </div>
  </div>
  
