
<% @page_title = "財務諸表テンプレートの編集" %>

<%= form_with(model: @report, url:{action:"update", id: @report.id}) do |form| %>
  <%= render "form", form:form %>


<div>
  <%= link_to "キャンセル", {action:'show', id:@report}, class:"btn btn-secondary" %> 
  <%= form.submit class:"btn btn-primary" %>
</div>
<% end %>
