
<% @crumbs = []
   @page_title = "財務諸表テンプレート" %>


<div id="reports">
  <% @reports.each do |report| %>
    <%= render partial: "report_templates/report", locals:{report:report} %>
    <p>
      <%= link_to "Show this report", {action:'show', id:report.id} %>
    </p>
  <% end %>
</div>

<p><%= link_to "New report...", new_book_report_template_path %>
