
<% @page_title = "新しい財務諸表テンプレート" %>

<%= form_with(model: @report, url:{action:"create"}) do |form| %>
  <%= render "form", form:form %>

<div>
  <%= link_to "キャンセル", {action:'index'}, class:"btn btn-secondary" %>
  <%= form.submit class:"btn btn-primary" %>
</div>
<% end %>
