
<% @crumbs = [
     {name: "財務諸表テンプレートの一覧", link: book_report_templates_path}
   ]
   @page_title = "帳票: " + @report.name %>

Name: <%= @report.name %>
Description: <%= @report.description %>


<div>
  <%= link_to "Edit this report...", {action:'edit', id: @report.id} %> |
  <%= button_to "Destroy this report", {action:'destroy', id:@report.id}, method: :delete, data:{turbo_confirm:'OK?'} %>
</div>


<h2>科目</h2>

●● TODO: 勘定科目表は、がっつり木表示にしたほうがいい。

<div data-controller="report-templates">
  <div class="row">
    <div class="col-sm-4 border-end">
  <%= form_with(model:@reporting_title,
            url: {controller:'reporting_titles', action:'create', report_id:@reporting_title.report_id},
            data:{turbo:false} ) do |form| %>
      <div class="mb-3">
        <label class="form-label">勘定科目:</label>
        <%= form.select "account_title_id",
                      option_groups_from_collection_for_select(
                                @ac_list, :children, :name, :id, :name,
                                @reporting_title.account_title_id),
                      {multiple:true}, class:"form-select", size:10 %>
      </div>
      
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">金額表示:</label>
        <div class="col-sm-9">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <%= form.radio_button :ac_type, 1, class:"form-check-input" %> 残高</label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <%= form.radio_button :ac_type, 4, class:"form-check-input" %> 発生額</label>
          </div>
        </div>
      </div>
      
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">符号:</label>
        <div class="col-sm-9">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <%= form.radio_button :sign, +1, class:"form-check-input" %> 借方正残</label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <%= form.radio_button :sign, -1, class:"form-check-input" %> 貸方正残</label>
        </div>
        </div>
      </div>
    
      <%= form.hidden_field :position, data:{"report-templates-target":"insPos"} %>
      <%= form.submit "挿入", class:"btn btn-success" %>
  <% end %>
    </div>  <!-- /.col-sm-6 -->
  
    <div class="col-sm-8">

      <div class="row thead">
        <div class="col-2"></div>
        <div class="col-4">勘定科目</div>
        <div class="col-2">発生 or 残高</div>
        <div class="col-2">符号</div>
      </div>
      
<% @reporting_titles.each do |title| %>
      <%= render partial:"reporting_titles/reporting_title", locals:{title:title} %>
<% end %>
    
      <div class="row border-top" id="reporting_title_0">
        <div class="col-2">
          <label>
            <%= radio_button_tag :ins_pos, 0, true,
                        data:{action:"change->report-templates#onPosSelect"} %>
            末尾 
          </label>
        </div>
        <div class="col-4"> </div>
        <div class="col-2"> </div>
        <div class="col-2"> </div>
      </div>
    </div>
  </div>
</div>

