
<% @page_title = "クレジットカード取引" 
   @crumbs = [] %>


<p><%= link_to "クレジットカード利用明細のアップロード...", 
               :action => "upload", :book_id => @book %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cc_transactions.each do |cc_transaction| %>
  <tr>
    <td><%= link_to 'Show', cc_transaction %></td>
    <td><%= link_to 'Edit', edit_cc_transaction_path(cc_transaction) %></td>
    <td><%= link_to 'Destroy', cc_transaction, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cc transaction', new_cc_transaction_path %>
