
  <% if @period_end.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@period_end.errors.count, "error") %> prohibited this period_end from being saved:</h2>

      <ul>
        <% @period_end.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<ol>  
  <li>基準期間または特定期間の課税売上高にもとづき、翌期が課税事業者かどうか決定してください (自動判定ではありません)。https://www.nta.go.jp/publication/pamph/shohi/todokedesho/pdf/01.pdf

</ol>


  <div class="row mb-3">
    <%= form.label :date, "期末日:", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.date_field :date, class:"form-control" %>
      <div class="form-text">個人は 12月31日にしてください.</div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">(期末時点) 消費税の課税事業者?:</label>
    <div class="col-sm-9">
<% PeriodEnd::VAT_TAXABLE.each do |k, v| %>      
      <div class="form-check form-check-inline">      
        <label>
          <%= form.radio_button "vat_taxable", k, class:"form-check-input" %> <%= v %>
        </label>
      </div>
<% end %>
    </div>
  </div>
  
  <div class="row mb-3">
    <%= form.label :registration_of_taxable, "消費税の課税期間の開始日:", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.date_field :registration_of_taxable, class:"form-control" %>
      <div class="form-text">a) 免税の場合はブランク。b) 期の中途から登録を受けた場合はその登録日, c) それ以外の課税事業者は期首の日付。</div>
    </div>
  </div>
  
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">税抜経理?:</label>
    <div class="col-sm-9">
      <label><%= form.radio_button "vat_exclusive", 0, class:"form-check-input" %> 免税・税込経理</label>
      <label><%= form.radio_button "vat_exclusive", 1, class:"form-check-input" %> 税抜経理</label>
    </div>      
  </div>

  <div class="row mb-3">
    <%= form.label "description", "メモ:", class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= form.text_area "description", class:"form-control" %>
    </div>
  </div>
  

