
<% # `index.html.erb` 内から呼び出される
   # @param @prev 一つ前の period
  %>

<div class="row" id="<%= dom_id period_end %>">
  <div class="col-2">
    <%= period_end.date %>
<% if @prev && (period_end.date - @prev.date > 366) %>
    <em style="color:red">12ヶ月超不可</em>
<% end %>
  </div>

  <div class="col-2">
    <%= PeriodEnd::VAT_TAXABLE[period_end.vat_taxable] %>
  </div>

  <div class="col-sm-3">
    <div class="row">
      <div class="col-6">
        <%= period_end.registration_of_taxable ? period_end.registration_of_taxable : "" %>
<% if period_end.vat_taxable %>
<%   if @prev && @prev.vat_taxable > 0 && @prev.date + 1 != period_end.registration_of_taxable %>
    <em style="color:red">課税期間に切れ目</em>
<%   end
   end %>    
      </div>

      <div class="col-6">
    <%= period_end.vat_exclusive == 0 ? "税込経理" :
        (period_end.vat_exclusive == 1 ? "税抜経理" : raise) %>
      </div>
    </div>
  </div>
  
  <div class="col-4"><%= period_end.description %></div>

  <div class="col-1">
    <%= link_to "Edit...", edit_book_period_end_path(@book, period_end) %> 

    <%= button_to "Destroy",
                  {action:'destroy', id:period_end}, method: :delete,
        data:{turbo_confirm:'OK?'} %>
  </div>
</div>
