
<% @page_title = "会計期間の編集" %>

<%= form_with(model: @period_end, url:{action:'update', id:@period_end}) do |form| %>
  <%= render "form", form:form %>

<div>
  <%= link_to "キャンセル", {action:'index'} %> 
  <%= form.submit %>
</div>
<% end %>
