
<% @crumbs = []
   @page_title = "会計期間の一覧" %>

<div id="period_ends">
<% @prev = nil
   @period_ends.each do |period_end| %>
  <%= render period_end %>
<%   @prev = period_end
   end %>
</div>

<%= link_to "New period end...", new_book_period_end_path %>
