
<% @page_title = "新しい会計期間" %>

<%= form_with(model: @period_end, url:{action:'create'}) do |form| %>
  <%= render "form", form:form %>

<div>
  <%= link_to "キャンセル", {action:'index'},class:"btn btn-secondary" %>
  <%= form.submit class:"btn btn-primary" %>
</div>
<% end %>
