<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta http-equiv="Content-Style-Type" content="text/css" />

  <title><%= @page_title || raise %>
      | <%= Rails.application.config.service_name %>
  </title>

  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>
  
  <link rel="manifest" href="/manifest.json" />
  <link rel="icon" href="/icon.png" type="image/png" />
  <link rel="icon" href="/icon.svg" type="image/svg+xml" />
  <link rel="apple-touch-icon" href="/icon.png" />

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link rel="stylesheet" href="/bootstrap5/css/bootstrap.min.css" />
<% # choices.js は package.json で入れる
  %>
  <link rel="stylesheet" href="/choices.css"  />
  <link href="https://unpkg.com/tabulator-tables@6.2.5/dist/css/tabulator.min.css" rel="stylesheet" />
  <!--
  <link href="https://unpkg.com/tabulator-tables@6.2.5/dist/css/tabulator_bootstrap5.min.css" rel="stylesheet" /> -->
<% # 下に書いた方が優先
  %>
  <link rel="stylesheet" href="/common.css" />
  
  <%= javascript_include_tag "application",
                             "data-turbo-track": "reload", type: "module" %>
  <script src="/bootstrap5/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.5/dist/js/tabulator.min.js"></script>
</head>
<body>
  
<!-- Navbar fixed ========================================================= -->
<nav class="navbar navbar-expand-md navbar-light bg-light" role="navigation">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-size:80%">
      <%= Rails.application.config.service_name %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#bs-navbar-collapse" 
          aria-expanded="false" aria-label="toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
<%   if current_user && controller_name != "books" && @book %>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "トップ",
                      {controller:'books', action:'show', id:@book.id},
                      :class=>'nav-link' %>
        <li class="nav-item"><%= link_to "出納帳",
                      {:controller => 'cashbooks', :action => 'show', :book_id => @book.id}, :class=>'nav-link' %>
        <li class="nav-item"><%= link_to "債務",
                      {:controller => 'payments', :action => 'index', :book_id => @book.id}, :class=>'nav-link' %>
        <li class="nav-item"><%= link_to "元帳",
                      {:controller => 'general_ledgers', :action => 'show', :book_id => @book.id}, :class=>'nav-link' %>
        <li class="nav-item"><%= link_to "財務諸表",
                      {:controller => 'statements', :action => 'show', :book_id => @book.id}, :class=>'nav-link' %>
        <li class="nav-item"><%= link_to "予算",
                      {:controller => 'budgets', :action => 'index', :book_id => @book.id}, :class=>'nav-link' %>
      </ul>
<%   end %>
<%   if current_user %>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.name %></a>
          <ul class="dropdown-menu">
            <li><%= link_to "プロフィール", 
                            "/account", class:"dropdown-item" %>
            <li><%= link_to "ライセンス情報", 
                            AccountingBook::Application.config.accounts_app_url + "/account",
                            class:"dropdown-item" %>
            <li><%= link_to "ログアウト", 
                            "/account/sign_out",
                            data:{"turbo-method": :post}, class:"dropdown-item" %>
          </ul>
      </ul>
<%   else %>
      <ul class="navbar-nav navbar-right">
        <li>
  <%= link_to "[ユーザ登録/ログイン...]", 
              "/account/sign_in",
              :class => "btn btn-default navbar-btn navbar-right" %>
    </ul>
<%   end %>
  </nav> <!-- /.navbar-collapse -->
</nav>



<div class="container-fluid">

<% if (s = notice) %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= s %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
  </div>
<% end %>

<% if (s = alert) %>
  <div class="alert alert-danger  alert-dismissible fade show" role="alert">
    <strong>Error</strong> <%= s %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" 
            aria-label="Close"></button>
  </div>
<% end %>





<% if @crumbs %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
<% if @book && controller.controller_name != 'books' %>    
    <li class="breadcrumb-item"><%= link_to @book.name, {controller:'books', action:'show', id: @book.id} %>
<% end %>  
<% @crumbs.each do |c| %>      
    <li class="breadcrumb-item " aria-current="page"><%= link_to c[:name], c[:link] %>
<% end %>
    <li class="breadcrumb-item active" aria-current="page"></li>
  </ol>
</nav>
<% end %>


<h1><%= @page_title %></h1>

<%= yield %>

</div> <!-- /.container-fluid -->


●● TODO: ここにフッタを入れる

</body>
</html>
